.banner{
	padding-top: 120px;
	background-image: url(../img/main-banner@1x.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 40% 50%;
	@include retina {
		background-image: url(../img/main-banner@2x.jpg);
	}
	.container{
		.content{
			display: flex;
			justify-content: center;
			align-items: baseline;
			flex-direction: column;
			min-height: 440px;
			.title-big{
				color: $white;
				span{
					padding-bottom: 10px;
					border-bottom: 5px solid $aqua-blue;
					@media (min-width: 768px) {
						padding-bottom: 20px;
					}
				}
			}
			p{
				padding: 25px 0;
				color: $white;
				line-height: 30px;
				@media (min-width: 768px){
					padding: 45px 0;
				}
			}
			@media (min-width: 768px){
				min-height: 540px;
				max-width: 40%;
			}
		}
	}
	@media (min-width: 768px){
		background-position: center;
	}
}