$white: #fff;
$blue: #367ab7;
$grey: #454546;
$grey-1: #777;
$grey-2: #444;
$light-gray: #ccc;
$aluminum: #aaa;
$reeky: #eee;
$pearl: #999;
$aqua-blue: #00b5d2;
$azure-gray: #008ea5;
$light-brown: #e1aa6e;
$copper: #ba8e5b;
$light-grey: #ececec;