header{
	position: absolute;
	left: 0;
	width: 100%;
	.header-wrap{
		padding: 40px 0;
		.container{
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			.logo img{
				max-height: 17px;
				@media (min-width: 480px) {
					max-height: 30px;
				}
			}
			.menu{
				.mobile-nav{
					display: block;
					&.active{
						span{
							background: $aqua-blue;
						}
					}
					span{
						display: block;
						width: 30px;
						height: 4px;
						margin-bottom: 4px;
						background: $white;
					}
					@media (min-width: 992px) {
						display: none;
					}
				}
				ul{
					display: none;
					position: absolute;
					top: 45px;
					left: 10px;
					right: 10px;
					padding: 10px;
					background: $white;
					animation: fadeIn ease .25s;
					&.active{
						display: block;
						@media (min-width: 992px) {
							display: inline-flex;
						}
					}
					li{
						position: relative;
						margin: 0;
						border-bottom: 1px solid $aqua-blue;
						.plus{
							position: absolute;
						    top: 10px;
						    right: 10px;
						    width: 20px;
						    height: 20px;
						    display: block;
						    background: $aqua-blue;
						    text-align: center;
						    color: $white;
						    line-height: 20px;
							@media (min-width: 992px) {
								display: none;
							}
						}
						.sub-menu{
							display: none;
							position: relative;
							top: auto;
							left: 0;
							max-width: initial;
							padding: 10px;
							background: $light-grey;
							&.active{
								display: block;
							}
							@media (min-width: 992px) {
								position: absolute;
								top: calc(100% + 10px);
								left: 0;
								max-width: 200px;
								padding: 10px 20px;
								background: $white;
							}
							li{
								position: relative;
								z-index: 1;
								display: block;
								margin: 0;
								a{
									white-space: nowrap;
									padding: 5px 0;
									&:hover{
										color: $aqua-blue;
										&:before{
											display: none;
										}
									}
								}
							}
							&:before{
								content: '';
								position: absolute;
								top: -10px;
								left: 0;
								right: 0;
								height: 30px;
							}
						}
						&:hover{
							.sub-menu{
								@media (min-width: 992px) {
									display: block;
								}
							}
						}
						a{
							width: 70%;
							position: relative;
							text-transform: uppercase;
							color: $grey;
							padding: 10px 0;
							display: block;
							&:before{
								transition: all ease .3s;
								opacity: 0;
								position: absolute;
								bottom: -40px;
								left: 0;
								height: 5px;
								width: 100%;
								background-color: $aqua-blue;
								@media (min-width: 992px) {
									content: '';
								}
							}
							&:hover{
								color: $aqua-blue;
								@media (min-width: 992px) {
									color: $white;
								}
								&:before{
									opacity: 1;
								}
							}
							@media (min-width: 992px) {
								border-bottom: none;
								padding: 0;
								display: inline-block;
								width: 100%;
							}
						}
						@media (min-width: 992px) {
							margin: 5px 20px;
							border-bottom: none;
						}
						&:last-of-type{
							border-bottom: none;
						}
					}
					@media (min-width: 992px) {
						position: relative;
						top: auto;
						left: auto;
						right: auto;
						display: inline-flex;
						padding: 0;
						background: transparent;
					}
				}
			}
		}
	}
}