.team{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	.img-bg{
		min-height: 200px;
		width: 100%;
		background-image: url(../img/team@1x.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: right center;
		@include retina {
			background-image: url(../img/team@2x.jpg);
		}
		@media (min-width: 992px){
			min-height: initial;
			width: 50%;
		}
	}
	.content{
		width: 100%;
		background-color: $blue;
		padding: 20px 15px;
		& > *:not(a){
			max-width: 535px;
		}
		.title-big{
			padding: 15px 0;
			color: $white;
			span{
				padding-bottom: 5px;
				border-bottom: 4px solid $aqua-blue;
				@media (min-width: 992px){
					padding-bottom: 10px;
				}
			}
			@media (min-width: 992px){
				padding: 25px 0;
			}
		}
		p, i{
			color: $white;
			@media (min-width: 992px) {
				line-height: 1.875rem;
			}
		}
		.button{
			margin-top: 20px;
			background-color: $aqua-blue;
			border-bottom-color: $azure-gray;
			&:before{
				background-color: $azure-gray;
			}
			@media (min-width: 992px){
				margin-top: 40px;
			}
		}
		@media (min-width: 992px){
			width: 45%;
			padding: 40px 30px;
		}
	}
	@media (min-width: 992px){
		flex-wrap: nowrap;
	}
}